.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.5s;
    margin-bottom: 15px;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

.secondBlock {
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #dfdfdf;
}

.secondCategory {
    margin-bottom: 15px;
}

.secondLevel {
    margin-bottom: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.thirdLevel {
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: block;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}
