:root {
    --black: #3b434e;
    --white: #fff;
    --light-grey: #ebebeb;
    --grey: #787d85;
    --primary: #7653fc;
    --primary-hover: #5f3ee2;
    --red: #fc836d;
    --green: #1dc37e;
    --light-green: #c8f8e4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--black);
    background: #f3f3f3;
}

a {
    color: inherit;
    text-decoration: none;
}
