.hh {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.card {
    padding: 20px;
    text-align: center;
}

.salary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    text-align: center;
    gap: 20px 0;
}

.salary > div {
    border-right: 1px solid var(--light-grey);
}

.salary > div:last-child {
    border: none;
}

.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}

.count {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary);
}

.salaryValue {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 10px;
}

.rate {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    gap: 10px;
    justify-content: center;
}

.field circle {
    fill: #fc836d;
}

@media screen and (max-width: 1200px) {
    .hh {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 640px) {
    .salary {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center;
    }

    .salary > div {
        border-bottom: 1px solid var(--light-grey);
        padding-bottom: 20px;
    }

    .salary > div:last-child {
        border: none;
        padding-bottom: 0;
    }
}
