.product {
    display: grid;
    grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
    margin-top: 30px;
    padding: 30px;
}

.logo {
    grid-column: start / logoend;
    grid-row: 1 / span 2;
}

.title,
.tags {
    grid-column: titlestart / middle;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    align-self: flex-end;
}

.price,
.priceTitle {
    grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
    grid-column: creditstart / creditend;
}

.rating,
.ratingTitle {
    grid-column: ratestart / end;
}

.features {
    grid-column: start / middle;
}

.hr {
    grid-column: start / end;
    margin-bottom: 20px;
}

.description {
    grid-column: start / end;
}

.features {
    grid-column: start / middle;
}

.advBlock {
    grid-column: middle / end;
}

.actions {
    grid-column: start / end;
}

.logo img {
    border-radius: 5px;
}

.price,
.credit {
    font-size: 20px;
    line-height: 27px;
    align-self: end;
}

.rating {
    align-self: end;
}

.priceTitle,
.creditTitle,
.ratingTitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.month {
    font-size: 14px;
    line-height: 19px;
}

.oldPrice {
    margin-left: 5px;
}

.hr {
    margin: 20px 0;
}

.description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    gap: 20px;
}

.advBlock {
    font-size: 16px;
    line-height: 22px;
}

.advTitle {
    font-weight: 700;
    margin-bottom: 5px;
}

.advantages {
    border-left: 2px solid var(--green);
    padding-left: 15px;
    margin-bottom: 20px;
}

.disadvantages {
    border-left: 2px solid var(--red);
    padding-left: 15px;
}

.characteristics {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-right: 60px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 5px;
    align-items: baseline;
    gap: 10px;
}

.characteristicsName {
    font-weight: 700;
}

.characteristicsDots {
    border-bottom: 1px dashed var(--light-grey);
}


.closed {
    overflow: hidden;
    max-height: 0;
    padding: 0;
}

.opened {
    overflow: hidden;
    max-height: auto;
    padding: 20px 30px;
}

